<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>

    <stripe-buy-button
        buy-button-id="buy_btn_1OTfMrSAhF7pBZltqDOrOgGF"
        publishable-key="pk_test_51OSkScSAhF7pBZlttpRhHzTAW78fNdXEzXa1BhRET714bl5K9LNw2Kw49MnQrCRw7z51BChsNRbZfHNTmKmlTgna00g4pvwnCT"
    >
    </stripe-buy-button>
</body>
</html>
